@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, rgba(37, 37, 37, 0.9), rgba(2, 2, 2, 0.4)), url('/bg.jpeg');
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}


@layer components {
  .bg-glass {
    @apply bg-gray-600/5 backdrop-blur-md bg-clip-padding hover:bg-gray-600/10 border border-gray-800 text-white;
  }
}

